@orange: #f97c50;
@fone: #f4f4f4;
@text: #6e6e6e;
@text_hover: #d7d7d7;
@OS-regular: OpenSans-Regular;
@OS-bold: OpenSans-Bold;
@OS-semibold: OpenSans-Semibold;
@OS-extraBold: OpenSans-ExtraBold;

a, h1, h2, i, li, p, span{
	color: #6e6e6e;
}
a:hover{
	cursor: pointer;
}
a:focus {
	outline: none; /*отключить внешние границы*/
	background: transparent; /*отключить background*/
	color: @text_hover;
}
body{
	overflow-x: hidden;
	padding-right: 0 !important;
}
button{
	outline: none;
	color: #fff;
	border: none;
	padding:10px 0;
	padding-bottom: 15px;
	font-size: 17.39px;
	font-family: @OS-bold;
	text-transform: uppercase;
	border-radius: 4px;
	box-shadow: inset 0 -4px 0px 0px #be694b;
	background: linear-gradient(to top, #f97c50, #f39f81);
	&:hover{
		background: linear-gradient(to top, #fc8860, #f8ae94);
	}
	&:active{
		box-shadow: 0 5px #e98967 inset;
		background: linear-gradient(to top, #f97c50, #f39f81);
	}
}
h2{
	text-align: center;
	text-transform: uppercase;
	font-family: @OS-bold;
	font-size: 24px;
}
li{
	list-style-type: none;
}
.adven_avto, .adven_deliv, .adven_figure, .adven_logistic, .adven_save, .adven_storage, .manufact-bel-cherk-pass, .manufact-keram, .manufact-keram-pass, .manufact-koagul, .manufact-koagul-pass, .manufact-spoly, .manufact-spoly-pass, .manufact-teh, .manufact-tex-pass, .manufact-bel-cherk{
	background: url(../images/sprites.png) no-repeat;
}
.figure, .save, .storage, .avto, .deliv, .logistic{
	background: url(../images/advantage.png) no-repeat;
}
.container{
	max-width: 1028px;
	min-width: 320px;
	padding-left: 38px;
	padding-right: 38px;
}
.img-responsive{
	margin:0 auto;
}
.jaw{
	position: absolute;
	z-index: 100;
	height: 30px;
	width: 100%;
	padding-right: 40px;
}
/*****************************
			fonts
*****************************/
/*OPEN SANS*/
@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSans-Semibold;
	src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(../fonts/OpenSans-ExtraBold.ttf);
}
/*****************************
			header
*****************************/
header{
	display: none;
	padding-bottom: 30px;
	position: absolute;
	z-index: 1;
	width: 100%;
	background: #fff;
	img{
		padding-top: 10px;
	}
	.contact_form{
		.phones{
			background: @fone;
			width: 371px;
			margin-left: -25px;
			border-radius: 5px;
			ul{
				margin-right: 0px;
				padding-left: 10px;
				padding-top: 4px;
				padding-bottom: 7px;
				li{
					font-family: @OS-bold;
					font-size: 13px;
					color: #868686;
					line-height: 1.38;
					letter-spacing: 0.5px;
					i{
						color: @orange;
						padding-right: 8px;
					}
				}
			}
		}
		button{
			color: #fff;
			min-width: 227px;
			padding:27px 18px;
			padding-bottom: 23px;
			font-size: 17.39px;
			font-family: @OS-bold;
			text-transform: uppercase;
			border-radius: 4px;
			border: none;
			float: right;
			box-shadow: 0 5px #be694b;
			background: linear-gradient(to top, #f97c50, #f39f81);
			&:hover{
				background: linear-gradient(to top, #fc8860, #f8ae94);
			}
			&:active{
				padding-bottom: 27px;
				box-shadow: 0 5px #e98967 inset;
				background: linear-gradient(to top, #f97c50, #f39f81);
			}
		}
	}
	.language{
		margin: 17px 0;
		margin-bottom: 5px;
		text-align: right;
		ul{
			display: inline-block;
			margin-bottom: 9px;
			li{
				margin-left: 2px;
				display: inline-block;
				a{
					color: @text;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 12px;
					font-family: @OS-semibold;
				}
				&.active, &.active a{
					text-decoration: underline;
				}
				&:hover, &:hover a{
					color: @text_hover;
					cursor: pointer;
				}
			}
		}
	}
}
/*****************************
			nav
*****************************/
section.navigation{
	width: 100%;
	background: #fff;
	/* position: relative;
	top: 0; */
	z-index: 1000;
	.navbar{
		margin-bottom: 0;
		border:0;
		min-height: 40px;
		.navbar-header{
			padding-top: 5px;
			button.navbar-toggle{
				background-color: @orange;
				padding:3px 5px;
				padding-bottom: 5px;
				margin-right:0;
				margin-top:0;
				margin-bottom: 0;
				box-shadow: 0px 4px 2px -1px #be694b;
				background: linear-gradient(to top, #f97c50, #f39f81);
				&:hover{
					background: linear-gradient(to top, #fc8860, #f8ae94);
				}
				&:active{
					box-shadow: 0 5px #e98967 inset;
					background: linear-gradient(to top, #f97c50, #f39f81);
				}
				span.icon-bar{
					width: 12px;
					margin-top: 2px;
					background: #be694b;
				}
			}
			.consult a{
				text-decoration: underline;
				text-transform: uppercase;
				font-size: 12px;
				font-family: @OS-semibold;
				color: @text;
				&:hover{
					color:@text_hover;
				}
			}
			.language{
				ul{
					display: inline-block;
					margin-bottom: 9px;
					padding-left: 0;
					margin-left: -5px;
					li{
						margin-left: 2px;
						display: inline-block;
						position: relative;
						a{
							color: @text;
							text-decoration: none;
							text-transform: uppercase;
							font-size: 12px;
							font-family: @OS-semibold;
						}
						&.active, &.active a{
							text-decoration: underline;
						}
						&:hover, &:hover a{
							color: @text_hover;
							cursor: pointer;
						}
					}
				}
			}
		}
		#responsive-menu{
			ul{
				list-style-type: none;
				text-align: center;
				padding-left: 0;
				padding-bottom: 7px;
				margin-top: 13px;
				margin-left: auto;
				margin-right: auto;
				&.navbar-nav{
					float: none;
					li{
						padding:5px 9px;
						float: none;
						position: relative;
						&:hover .jaw div{
							-webkit-transform: translateY(8px);
							-moz-transform: translateY(8px);
							-o-transform: translateY(8px);
							transform: translateY(8px);
						}
						a{
							text-decoration: none;
							text-transform: uppercase;
							font-family: @OS-semibold;
							&:hover{
								color:@text_hover;
							}
						}
						.jaw{
							padding-right: 18px;
							div{
								background: #fff;
								margin-top: -4px;
								height: 20px;
								border-radius: 20px;
								-webkit-transition: transform 800ms;
								-moz-transition: transform 800ms;
								-o-transition: transform 800ms;
								transition: transform 800ms;
							}
						}
						ul.dropdown-menu{
							border: 0;
							margin-top: 11px;
							text-align: left;
							margin-left: -140px;
							li{
								width: 100%;
								padding:1px 0;
								a{
									text-transform: none;
									font-size:17.56px;
									color: @text;
									padding-right: 90px;
									&:hover{
										background-color:#f4f4f4;
										color: @orange;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*****************************
			baner
*****************************/
section.baner{
	display: none;
	.parallax-window{
		h2{
			padding-top: 183px;
			line-height: 1.4;
			color: #fff;
			text-transform: uppercase;
			font-family: @OS-extraBold;
			font-size: 50.6px;
			text-align: left;
		}
	}
}
/*****************************
			logo
*****************************/
section.logo{
	margin-top: 0;
	padding-top: 20px;
	text-align: center;
	background: #f4f4f4;
	h2{
		font-family: @OS-extraBold;
		font-size: 17px;
		text-transform: uppercase;
		line-height: 1.5;
	}
}
/*****************************
			call-me
*****************************/
section.call-me{
	margin-top: 14px;
	text-align: center;
	button{
		color: #fff;
		width: 100%;
		border: none;
		padding:10px 0;
		padding-bottom: 15px;
		font-size: 17.39px;
		font-family: @OS-bold;
		text-transform: uppercase;
		border-radius: 4px;
		box-shadow: inset 0 -4px 0px 0px #be694b;
		background: linear-gradient(to top, #f97c50, #f39f81);
		&:hover{
			background: linear-gradient(to top, #fc8860, #f8ae94);
		}
		&:active{
			box-shadow: 0 5px #e98967 inset;
			background: linear-gradient(to top, #f97c50, #f39f81);
		}
	}
	ul{
		padding: 21px 0;
		padding-top: 16px;
		li{
			font-size: 17.78px;
			font-family: @OS-bold;
			i{
				color: @orange;
				padding-right: 10px;
			}
		}
	}
}
/*****************************
			goods
*****************************/
section.goods{
	margin-top: 23px;
	.anchor_for_goods{
		position: absolute;
		margin-top: -20px;
	}
	.wrap{
		position: relative;
		.good-item{
			text-align: center;
			position: relative;
			padding-bottom: 35px;
			box-shadow: 0px 9px 29px -16px #000000;
			&:nth-child(odd){
				z-index: 1;
				.jaw{
					background: #fff;
				}
			}
			&:nth-child(even){
				background:#f4f4f4;
				.jaw{
					background: #f4f4f4;
				}
			}
			a{
				text-decoration: none;
				img{
					padding-top: 40px;
					height: auto;
					max-height: 350px;
					max-width: 200px;
				}
				p{
					font-size: 16.72px;
					font-family: @OS-semibold;
					padding:5px 40px;
					&:hover{
						color: @text_hover;
					}
				}
			}
			button{
				color: #fff;
				border: none;
				padding: 7px 20px;
				padding-bottom: 9px;
				font-size: 12.96px;
				font-family: @OS-bold;
				text-transform: uppercase;
				border-radius: 4px;
				box-shadow: inset 0 -4px 0px 0px #be694b;
				background: linear-gradient(to top, #f97c50, #f39f81);
				&:hover{
					background: linear-gradient(to top, #fc8860, #f8ae94);
				}
				&:active{
					box-shadow: 0 5px #e98967 inset;
					background: linear-gradient(to top, #f97c50, #f39f81);
				}
			}
			.jaw{
				background: red;
				width: 90px;
				bottom: 0;
				left:50%;
				margin-left: -45px;
				margin-bottom: -11px;
				border-radius: 30px;
				box-shadow: 0px 12px 23px -8px #c0c0c0;
			}
		}
	}
}
/*****************************
		manufacturer
*****************************/
section.manufacturer{
	text-align: center;
	text-align: center;
	margin-top:-40px;
	div{
		display: block;
		margin: 30px auto;
		margin-bottom: 21px;
		.tehno{
			background: url(../images/sprites.png);
			background-position: -163px -193px;
			width: 172px;
			height: 30px;
			&:hover{
				background-position: -163px -193px;
			}
		}
		.kerameya{
			background: url(../images/sprites.png);
			background-position: -189px -243px;
			background-size: 367px 336px;
			-webkit-background-size:367px 336px;
			-o-background-size:367px 336px;
			-moz-background-size:367px 336px;
			width: 176px;
			height: 34px;
			&:hover{
				background: url(../images/kerameya.png);
			}
		}
		.cherkov{
			background: url(../images/sprites.png);
			background-position: -224px -342px;
			width: 204px;
			height: 65px;
			&:hover{
				background-position: -224px -342px;
			}
		}
		.spoly{
			background: url(../images/sprites.png);
			background-position: 0 -100px;
			width: 123px;
			height: 51px;
			&:hover{
				background-position: 0 -100px;
			}
		}
		.koagylyant{
			background: url(../images/sprites.png);
			background-position: -161px -236px;
			width: 84px;
			height: 54px;
			&:hover{
				background-position: -161px -236px;
			}
		}
	}
}
/*****************************
			advantages
*****************************/
section.advantage{
	text-align: center;
	.advantage_anchor{
		position: absolute;
		margin-top: -60px;
	}
	h2{
		margin-bottom: 65px;
	}
	.item-advant{
		width: 170px;
		margin:0 auto;
		p{
			font-size: 16.72px;
			font-family: @OS-semibold;
			padding-top: 23px;
			padding-bottom: 27px;
		}
		.figure{
			background-position: -12px -105px ;
			width: 152px;
			height: 171px;
			position: relative;
			display: block;
			margin: 0 auto;
			.save{
				background-position: -214px 0;
				width: 86px;
				height: 94px;
				position: absolute;
				z-index: 1;
				top: 50%;
				left:50%;
				margin-left:-43px;
				margin-top: -47px;
			}
			.storage{
				background-position: -119px 0;
				width: 74px;
				height: 86px;
				position: absolute;
				z-index: 1;
				top: 50%;
				left:50%;
				margin-left:-37px;
				margin-top: -50px;
			}
			.avto{
				background-position: 0 0;
				width: 98px;
				height: 68px;
				position: absolute;
				z-index: 1;
				top: 50%;
				left:50%;
				margin-left:-49px;
				margin-top: -34px;
			}
			.deliv{
				background-position: -192px -197px ;
				width: 100px;
				height: 92px;
				position: absolute;
				z-index: 1;
				top: 50%;
				left:50%;
				margin-left:-50px;
				margin-top: -46px;
			}
			.logistic{
				background-position: -192px -97px ;
				width: 83px;
				height: 87px;
				position: absolute;
				z-index: 1;
				top: 50%;
				left:50%;
				margin-left:-42px;
				margin-top: -44px;
			}
		}
	}
}
/*****************************
			catalog
*****************************/
.good{
	height: 470px;
	margin-top: -45px;
}
.good[src="images/goods_materialu.png"]{
  height: auto;
}
img.materialu{
	margin: 0;
}
#tab-block li{
  display: block;
}
.materialu{
    display:inline-block;
    width:60%;
}
section.catalog{
	padding-bottom: 100px;
	background: #f4f4f4;
	.catalog_anchor{
		position: absolute;
		margin-top: -20px;
	}
	article{
		padding-top: 53px;
		position: relative;
		box-shadow: inset 0px 9px 29px -16px #777;
		overflow-x: hidden;
		&:nth-child(odd){
			z-index: 1;
			background: #fff;
			img{
				&.good{float: right; margin-right: -45px; margin-bottom:0px;}
				&.klink{margin-right: -20px; padding-right: 20px;}
				&.lichevoy{margin-right: -45px;}
				&.ryadovoy{margin-right: -45px;}
			}
			.jaw{
				background: #f4f4f4;
				box-shadow: 0px 12px 23px -8px #c0c0c0
			}
		}
		&:nth-child(even){
			background:#f4f4f4;
			img{
				&.good{float: left; margin-left: -30px; margin-bottom:0px;}
				&.klink{margin-left: -65px; padding-right: 17px;}
				&.bruschatka{margin-left: -30px; padding-right: 20px; margin-top: 20px; height: 350px;}
				&.materialu{margin-left: -45px; display: inline-block; width:30%; margin-bottom: 0px;}
				&.keramobloki{}
			}
            h3{
				&.materialu{display: inline-block; width:60%;}
			}
			.jaw{
				background: #fff;
				box-shadow: 0px 6px 23px -8px #c0c0c0
			}
		}
		button{
			padding: 20px 50px;
			font-size: 20px;
			margin-bottom: 30px;
		}
		a.tehno, a.kerameya, a.cherkov, a.spoly, a.koagylyant{
			display: inline-block;
			margin-right: 100px;
		}
		a.goods_anchor{
			position: absolute;
			margin-top: -70px;
		}
        .tab-content{
            .tab-pane{
                p{
                    display:inline-block;
                }
            }
        }
		ul{
			margin-bottom: 15px;
			padding-left: 0;
			li{
				display: inline-block;
				&.active{
					.tehno{background-position: -163px -193px;}
					.cherkov{background-position: -224px -342px;}
					.spoly{background-position: 0 -100px;}
					.koagylyant{background-position: -161px -236px;}
					.kerameya{background: url(../images/kerameya.png);}
				}
				a{
					&.list{
						color: @orange;
						text-decoration: none;
						font-family: @OS-bold;
						font-size:16.52px;
						text-transform: uppercase;
						padding-right: 110px;
						line-height: 1.5;
						&:hover{
							color:@text_hover;
						}
					}
					&.tehno{
						background: url(../images/sprites.png);
						background-position: -136px -98px;
						width: 172px;
						height: 30px;
						&:hover{
							background-position: -163px -193px;
						}
					}
					&.kerameya{
						background: url(../images/sprites.png);
						background-position: -254px -239px;
						width: 176px;
						height: 34px;
						margin-bottom: 17px;
						&:hover{
							background: url(../images/kerameya.png);
						}
					}
					&.cherkov{
						background: url(../images/sprites.png);
						background-position: 0 -336px;
						width: 204px;
						height: 65px;
						margin-bottom: 10px;
						&:hover{
							background-position: -224px -342px;
						}
					}
					&.spoly{
						background: url(../images/sprites.png);
						background-position: -259px -138px;
						width: 123px;
						height: 51px;
						&:hover{
							background-position: 0 -100px;
						}
					}
					&.koagylyant{
						background: url(../images/sprites.png);
						background-position: -157px -137px;
						width: 84px;
						height: 54px;
						&:hover{
							background-position: -161px -236px;
						}
					}
				}
			}
		}
		
		h3{
			color: @orange;
			font-size: 46.95px;
			font-family: @OS-bold;
			text-transform: uppercase;
			margin-top: 0;
			padding-bottom: 28px;
			&.materialu{padding-right: 0;}
		}
		p{
			font-family: @OS-semibold;
			font-size: 15px;
		}
		.chose_manufacture{
			font-family: @OS-regular;
			font-size: 17.6px;
			color: #6e6e6e;
			padding-top:25px;
			padding-bottom: 12px;
		}
		.jaw{
			width: 100px;
			height: 40px;
			left: 50%;
			margin-left:-70px;
			top:-100px;
			width: 140px;
			border-radius: 30px;
		}
		.open_gallary span, .open_price, .open_about{
			color: @orange;
			text-decoration: underline;
			font-family: @OS-semibold;
			font-size:16px;
			&:hover{
				color:@text_hover;
			}
		}
		.open_gallary, .open_price{
			padding-left: 19px;
			padding-right: 12px;
			display: inline-block;
		}
        .open_gallary{
            display:none !important;
        }
		.text-center{
            margin-left: auto;
            display: table;
            margin-right: auto;
			padding: 30px 0;
			padding-bottom: 63px;
			.open_about{
				color: @text_hover;
				&:hover{
					color: @orange;
					&:after{border: 6px solid transparent;border-bottom: 6px solid @orange;}
					&.collapsed::after{
						border: 6px solid transparent;
						border-left: 6px solid @orange;
					}
				}
				&:after{
					content:"";
					border: 6px solid transparent;
					border-bottom: 6px solid @text_hover;
					position: absolute;
					margin-top: 6px;
					margin-left: 6px;
				}
				&.collapsed{
					&:after{
						content:"";
						border: 6px solid transparent;
						border-left: 6px solid @text_hover;
						position: absolute;
						margin-top: 6px;
						margin-left: 6px;
					}
				}
			}
		}
		/*test about goods*/
		.main_about_klink_kerameya{padding-top: 76px;}
	}
}

/*****************************
	   table for catalog
*****************************/
.materials-type{
    background-color: white;
    height: 50px;
    text-align: center;
    vertical-align: middle !important;
    font-weight: bold;
}
table{

}
td{
    vertical-align:middle !important;
}
thead{
    color:@text;

    tr{
        th{
         vertical-align:middle !important;
         text-align:center !important;
        }
    }
}


/*****************************
			consultation
*****************************/
section.consultation{
	background: url(../images/call_back_fon.jpg);
	background-position:100%;
	button{
		padding:10px 23px 13px 23px;
		margin-top: 30px;
		margin-bottom: 30px;
		box-shadow: inset 0 -4px 0px 0px #8c3414;
	}
	img{
		margin-top: -135px;
		margin-right: -39px;
		float: right;
	}
	h2{
		text-align: left;
		padding-top: 34px;
		padding-bottom: 6px;
		font-size: 62.5px;
		font-family: @OS-extraBold;
		color: #fff;
		text-transform: uppercase;
	}
	p{
		color: #fff;
		font-size: 19.6px;
		font-family: @OS-extraBold;
		text-transform: uppercase;
	}
}
/*****************************
			About
*****************************/
section.about{
	.about_anchor{
		position: absolute;
		margin-top: -20px;
	}
	h2{
		padding-top: 30px;
		padding-bottom: 20px;
		font-size: 24px;
		font-family: @OS-bold;
	}
	p{
		font-size: 18px;
		font-family: @OS-regular;
		line-height: 1.5;
	}
	.text-center{
		font-size: 16px;
		font-family: @OS-semibold;
		.open_about{
			color: @orange;
			&:hover{
				color: @orange;
				&:after{border: 6px solid transparent;border-bottom: 6px solid @orange;}
				&.collapsed::after{
					border: 6px solid transparent;
					border-left: 6px solid @orange;
				}
			}
			&:after{
				content:"";
				border: 6px solid transparent;
				border-bottom: 6px solid @orange;
				position: absolute;
				margin-top: 6px;
				margin-left: 6px;
			}
			&.collapsed{
				&:after{
					content:"";
					border: 6px solid transparent;
					border-left: 6px solid @orange;
					position: absolute;
					margin-top: 6px;
					margin-left: 6px;
				}
			}
		}
	}
}
/*****************************
			Gallery
*****************************/
section.gallery{
	.gallery_anchor{
		position: absolute;
		margin-top: -20px;
	}
	h2{
		padding-top: 48px;
		padding-bottom: 17px;
	}
	.row{
		.row{
			margin-left: -6px;
			margin-right: -6px;
			.col-sm-3{
				padding: 6px;
			}
		}
	}
	ul{
		li{
			a{
				img{
					border-radius: 10px;
				}
			}
		}
	}
	.bx-wrapper .bx-viewport{
		-moz-box-shadow: inherit;
		-webkit-box-shadow: inherit;
		box-shadow: inherit;
	}
}
/*****************************
			Diploms
*****************************/
section.diploms{
	h2{
		padding-top: 30px;
		padding-bottom: 20px;
		font-size: 24px;
		font-family: @OS-bold;
	}
	img{
		max-width: 100%;
		display: block;
		margin:0 auto;
		margin-bottom: 30px;
		 box-shadow: 0px 7px 20px -5px #ccc;
	}
}
/*****************************
			Contacts
*****************************/
section.contacts{
	.contacts_anchor{
		position: absolute;
		margin-top: -20px;
	}
	h2{
		text-align: center;
		margin-top: 59px;
		margin-bottom:45px;
	}
	font{
		color: @orange;
	}
	i{
		padding-right: 5px;
		font-size: 16px;
		color: @orange;
		&.fa-map-marker{
			font-size: 22px;
		}
	}
	p{
		font-family: @OS-regular;
		font-size: 16px;
	}
	.item-1 {
		padding-bottom: 10px;
		p:first-child{
			text-transform: uppercase;
			padding-left: 24px;
		}
	}
	.item-2 p, .item-3{
		line-height: 1;
	}
	.adress{
		padding-top: 10px;
	}
}
/*****************************
			maps
*****************************/
section.maps{
	height: 335px;
	div{
		height: 335px;
	}
	.left-map{
		float: left;
		width: 50%;
		padding-right: 5px;
	}
	.right-map{
		float: right;
		width: 50%;
		padding-left: 5px;
	}
}
/*****************************
			footer
*****************************/
footer{
	padding:21px 0;
	text-align: center;
	button{
		padding: 10px 24px;
		padding-bottom: 15px;
		width: 100%;
	}
	img{
		margin-top: -11px;
	}
	p{
		font-size: 18px;
		font-family: @OS-regular;
		padding-left: 46px;
	}
}
/*****************************
		modal window
*****************************/
section.modal_window{
	.modal-dialog{
			min-width: 300px;
		.modal-content{
			padding:20px 22px;
			padding-bottom: 48px;
			button{
				padding: 10px 57px 15px;
			}
			input{
				width: 100%;
				margin-bottom: 28px;
				height: 61px;
				font-family: @OS-regular;
				font-size: 24px;
				padding-left: 24px;
				box-shadow: inset 0px 0px 7px 0 rgba(132, 127, 127, 0.7);
				border: none;
				outline: none;
				&:-webkit-autofill{
					-webkit-box-shadow: inset 0 0 0 50px #FFF;
					border: 1px solid @text_hover;
					-webkit-text-fill-color: @text;
				}
			}
			
			input::-moz-placeholder { color: @text; }
			input::-webkit-input-placeholder { color: @text; }
			p{
				font-family: @OS-bold;
				font-size: 24px;
				text-align: center;
				padding-top:20px;
				padding-bottom: 24px;
				text-transform: uppercase;
			}
			.close{
				color: #f19b0f;
				margin: -4px -10px;
				opacity: 1;
				background-image: url(../images/cross.png);
				height: 18px;
				width: 18px;
				&:hover{
					background-image: url(../images/cross_hover.png);
				}
			}
			.jaw{
				background: #fff;
				height: 40px;
				left: 50%;
				margin-left: -70px;
				width: 140px;
				border-radius: 30px;
				bottom: -13px;
				box-shadow: 0px 15px 20px -7px #333;
			}
		}
	}
}

/*****************************
			media
*****************************/
@media screen and (max-width: 1100px){
    .catalog{
         h3{
            font-size:34px !important;
        }
         button{
             margin-right: 20% !important;
             margin-bottom:20px !important;
         }
    }
    section.catalog article .open_gallary, section.catalog article .open_price {
    padding-left: 0px;
    }
}
@media screen and (max-width: 767px){
	section.navigation .navbar #responsive-menu ul li ul{display: none;}
	section.navigation .navbar #responsive-menu ul.navbar-nav li .jaw{display: none;}
	section.goods .container, section.goods .col-md-12, section.goods .row {
		padding:0;
		margin:0;
	}
	section.advantage h2.h2_catalog{ display: none;}
	section.catalog{display: none;}
	section.consultation{display: none;}
	section.gallery{display: none;}
	section.contacts .item-4{display: none;}
	section.contacts p span{display: none;}
	section.maps{display: none;}
}
@media screen and (min-width: 768px){
	.container{
		padding-right: 15px;
		padding-left: 15px;
	}
	section.navigation .navbar #responsive-menu ul li.desk-hide-list{
		display: none;
	}
	/*header*/
	header{
		display: block;
	}
	/*navigation*/
	section.navigation{
		position: absolute;
		top:136px;
		.navbar{
			.navbar-header{
				display: none;
			}
			#responsive-menu ul {
				padding-bottom: 12px;
				li{
					display: inline-block;
				}
			}
		}
	}
	/*baner*/
	section.baner{
		display: block;
	}
	/*logo*/
	section.logo{
		display: none;
	}
	/*call me*/
	section.call-me{
		display: none;
	}
	/*goods*/
	section.goods{
		.wrap{
			text-align: center;
			margin-top: 0;
			.border{
				margin-top: 110px;
				height: 305px;
				width: 100%;
				border: 3px dotted @text_hover;
				position: absolute;
				z-index: -1;
				border-radius: 20px;
			}
			.bruschatka{
				padding-top: 16px;
				p{
					margin-top: -16px;
				}
			}
			.good-item{
				width: 175px;
				display: inline-block;
				vertical-align: top;
				box-shadow: none;
				padding-bottom: 0;
				&:nth-child(even){
					background:transparent;
				}
				button{
					display: none;
				}
				a img{
					max-height: 200px;
				}
				.jaw{
					display: none;
				}
			}
		}
	}
	/*manufacturer*/
	section.manufacturer div{
		display: inline-block;
		margin-right: 25px;
		margin-left: 25px;
		.tehno{background-position: -136px -98px;}
		.cherkov{background-position: 0 -336px;}
		.spoly{background-position: -259px -138px;}
		.koagylyant{background-position: -157px -137px ;}
		.kerameya{
			background-position: -254px -239px;
			background-size: auto;
			-webkit-background-size: auto;
			-o-background-size: auto;
			-moz-background-size: auto;
		}
	}
	/*advantage*/
	section.advantage {
		h2.h2_catalog{
			margin-top: 60px;
			margin-bottom: 50px;
		}
		.item-advant{
			display: inline-block;
			width: 30.6%;
			vertical-align: top;
			p{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	/*about*/
	section.about h2{
		padding-top: 53px;
		padding-bottom: 60px;
	}
	/*diploms*/
	section.diploms .top{margin-top: 15px;}
	/*contact*/
	section.contacts .item-4{display: none;}
	section.contacts .adress .second{margin-left: -9px; padding-bottom: 10px;}
	/*footer*/
	footer{
		text-align: inherit;
		padding-top: 59px;
		button{
			width: initial;
			float:right;
		}
	}
	/*modal*/
	section.modal_window .modal-dialog {
		width: 525px;
		.modal-content{
			padding:20px 54px;
			padding-bottom: 48px;
			.close{
				margin: -4px -35px;
			}
		}
	}
}

@media screen and (min-width: 992px){
	header .contact_form .phones{
		margin-left: auto;
	}
	section.navigation .navbar #responsive-menu ul.navbar-nav li{
		padding: 5px 22px;
		.jaw{
			padding-right: 40px;
		}
	}
	section.baner .parallax-window h2{
		font-size: 52.6px;
	}
	section.goods .wrap .border{
		height: 300px;
	}
	section.goods .wrap .good-item{
		width: 200px;
	}
	section.manufacturer div{
		margin-right: 35px;
		margin-left: 35px;
	}
	section.advantage .item-advant{
		width: 19.6%;
	}
	/*catalog*/
	section.catalog article{
		button{
			margin-bottom: 0;
		}
		h3{
			padding-right: 100px;
		}
		ul{
			padding-bottom: 0;
		}
		.chose_manufacture{
			padding-top: 48px;
		}
		.jaw{
			top: -78px;
		}
	}
	/*contact*/
	section.contacts .wrap{
		padding:20px 39px;
		padding-bottom: 0;
		margin-bottom: 30px;
		border: 3px dotted @text_hover;
		border-radius: 20px;
	}
	section.contacts .item-1, section.contacts .item-2, section.contacts .item-3, section.contacts .item-4{display: inline-block; vertical-align: top;}
	section.contacts .item-1{
		width: 25%;
	}
	section.contacts .item-2{
		width: 20%;
	}
	section.contacts .item-3{
		width: 20%;
	}section.contacts .item-4{
		display: block;
		width: 33%;
		float: right;
	}
	.item-1 {
		padding-bottom: 0;
		p:first-child{margin-bottom:0;}
	}
	.item-2 p, .item-3 p{
		line-height: auto;
	}
	.item-4 p{
		line-height: 1.65;
		margin-top: -5px;
	}
	section.contacts .adress .first{padding-left: 45px;}
}
@media screen and (min-width: 1200px){
	section.manufacturer div{
		margin-right: 15px;
		margin-left: 15px;
	}
}