a,
h1,
h2,
i,
li,
p,
span {
  color: #6e6e6e;
}
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
  /*отключить внешние границы*/
  background: transparent;
  /*отключить background*/
  color: #d7d7d7;
}
button {
  outline: none;
}
h2 {
  text-align: center;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1028px;
  min-width: 320px;
  padding-left: 38px;
  padding-right: 38px;
}
.img-responsive {
  margin: 0 auto;
}
/*****************************
			fonts
*****************************/
/*OPEN SANS*/
@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
/*****************************
			header
*****************************/
header {
  display: none;
  padding-bottom: 30px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: #fff;
}
header img {
  padding-top: 10px;
}
header .contact_form .phones {
  background: #f4f4f4;
  width: 370px;
  margin-left: -25px;
}
header .contact_form .phones ul {
  margin-right: 0px;
  padding-left: 18px;
  padding-top: 4px;
  padding-bottom: 7px;
}
header .contact_form .phones ul li {
  font-family: OpenSans-Bold;
  font-size: 13px;
  color: #868686;
  line-height: 1.38;
  letter-spacing: 0.5px;
}
header .contact_form .phones ul li i {
  color: #f97c50;
  padding-right: 8px;
}
header .contact_form button {
  color: #fff;
  padding: 27px 22px;
  padding-bottom: 23px;
  font-size: 17.39px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  float: right;
  box-shadow: 0 5px #be694b;
  background: linear-gradient(to top, #f97c50, #f39f81);
}
header .contact_form button:hover {
  background: linear-gradient(to top, #fc8860, #f8ae94);
}
header .contact_form button:active {
  padding-bottom: 27px;
  box-shadow: 0 5px #e98967 inset;
  background: linear-gradient(to top, #f97c50, #f39f81);
}
header .language {
  margin: 17px 0;
  margin-bottom: 5px;
  text-align: right;
}
header .language ul {
  display: inline-block;
  margin-bottom: 9px;
}
header .language ul li {
  margin-left: 2px;
  display: inline-block;
}
header .language ul li a {
  color: #6e6e6e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: OpenSans-Semibold;
}
header .language ul li.active,
header .language ul li.active a {
  text-decoration: underline;
}
header .language ul li:hover,
header .language ul li:hover a {
  color: #d7d7d7;
  cursor: pointer;
}
/*****************************
			nav
*****************************/
section.navigation {
  width: 100%;
  background: #fff;
  /* position: relative;
	top: 0; */
  z-index: 100;
}
section.navigation .navbar {
  margin-bottom: 0;
  border: 0;
  min-height: 40px;
}
section.navigation .navbar .navbar-header {
  padding-top: 5px;
}
section.navigation .navbar .navbar-header button.navbar-toggle {
  background-color: #f97c50;
  padding: 3px 5px;
  padding-bottom: 5px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 4px 2px -1px #be694b;
  background: linear-gradient(to top, #f97c50, #f39f81);
}
section.navigation .navbar .navbar-header button.navbar-toggle:hover {
  background: linear-gradient(to top, #fc8860, #f8ae94);
}
section.navigation .navbar .navbar-header button.navbar-toggle:active {
  box-shadow: 0 5px #e98967 inset;
  background: linear-gradient(to top, #f97c50, #f39f81);
}
section.navigation .navbar .navbar-header button.navbar-toggle span.icon-bar {
  width: 12px;
  margin-top: 2px;
  background: #be694b;
}
section.navigation .navbar .navbar-header .consult a {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 12px;
  font-family: OpenSans-Semibold;
  color: #6e6e6e;
}
section.navigation .navbar .navbar-header .consult a:hover {
  color: #d7d7d7;
}
section.navigation .navbar .navbar-header .language ul {
  display: inline-block;
  margin-bottom: 9px;
  padding-left: 0;
  margin-left: -5px;
}
section.navigation .navbar .navbar-header .language ul li {
  margin-left: 2px;
  display: inline-block;
}
section.navigation .navbar .navbar-header .language ul li a {
  color: #6e6e6e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-family: OpenSans-Semibold;
}
section.navigation .navbar .navbar-header .language ul li.active,
section.navigation .navbar .navbar-header .language ul li.active a {
  text-decoration: underline;
}
section.navigation .navbar .navbar-header .language ul li:hover,
section.navigation .navbar .navbar-header .language ul li:hover a {
  color: #d7d7d7;
  cursor: pointer;
}
section.navigation .navbar #responsive-menu ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  padding-bottom: 7px;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
}
section.navigation .navbar #responsive-menu ul.navbar-nav {
  float: none;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li {
  padding: 5px 9px;
  float: none;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: OpenSans-Semibold;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li a:hover {
  color: #d7d7d7;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li ul.dropdown-menu {
  border: 0;
  margin-top: 11px;
  text-align: left;
  margin-left: -140px;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li ul.dropdown-menu li {
  width: 100%;
  padding: 1px 0;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li ul.dropdown-menu li a {
  text-transform: none;
  font-size: 17.56px;
  color: #6e6e6e;
  padding-right: 90px;
}
section.navigation .navbar #responsive-menu ul.navbar-nav li ul.dropdown-menu li a:hover {
  background-color: #f4f4f4;
  color: #f97c50;
}
/*****************************
			baner
*****************************/
section.baner {
  display: none;
}
section.baner .parallax-window h2 {
  padding-top: 214px;
  line-height: 1.4;
  color: #fff;
  text-transform: uppercase;
  font-family: OpenSans-ExtraBold;
  font-size: 52.6px;
  text-align: left;
}
/*****************************
			logo
*****************************/
section.logo {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
  background: #f4f4f4;
}
section.logo h2 {
  font-family: OpenSans-ExtraBold;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 1.5;
}
/*****************************
			call-me
*****************************/
section.call-me {
  margin-top: 14px;
  text-align: center;
}
section.call-me button {
  color: #fff;
  width: 100%;
  border: none;
  padding: 10px 0;
  padding-bottom: 15px;
  font-size: 17.39px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: inset 0 -4px 0px 0px #be694b;
  background: linear-gradient(to top, #f97c50, #f39f81);
}
section.call-me button:hover {
  background: linear-gradient(to top, #fc8860, #f8ae94);
}
section.call-me button:active {
  box-shadow: 0 5px #e98967 inset;
  background: linear-gradient(to top, #f97c50, #f39f81);
}
section.call-me ul {
  padding: 21px 0;
  padding-top: 16px;
}
section.call-me ul li {
  font-size: 17.78px;
  font-family: OpenSans-Bold;
}
section.call-me ul li i {
  color: #f97c50;
  padding-right: 10px;
}
/*****************************
		manufacturer
*****************************/
section.manufacturer {
  text-align: center;
}
section.manufacturer img {
  padding: 20px;
}
/*****************************
			consultation
*****************************/
section.consultation {
  background: lightblue;
}
section.consultation img {
  margin-top: -100px;
}
/*****************************
			Gallery
*****************************/
/*****************************
			Diploms
*****************************/
section.diploms {
  text-align: center;
  background: lightblue;
}
section.diploms img {
  padding: 30px;
}
/*****************************
			Contacts
*****************************/
section.contacts h2 {
  text-align: center;
}
/*****************************
			maps
*****************************/
section.maps img:first-child {
  float: left;
  margin-right: 30px;
}
/*****************************
			footer
*****************************/
/*****************************
			media
*****************************/
@media screen and (max-width: 767px) {
  section.navigation .navbar #responsive-menu ul li ul {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  section.navigation .navbar #responsive-menu ul li.desk-hide-list {
    display: none;
  }
  /*header*/
  header {
    display: block;
  }
  /*navigation*/
  section.navigation {
    position: absolute;
    top: 136px;
  }
  section.navigation .navbar .navbar-header {
    display: none;
  }
  section.navigation .navbar #responsive-menu ul {
    padding-bottom: 12px;
  }
  section.navigation .navbar #responsive-menu ul li {
    display: inline-block;
  }
  /*baner*/
  section.baner {
    display: block;
  }
  /*logo*/
  section.logo {
    display: none;
  }
  /*call me*/
  section.call-me {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  header .contact_form .phones {
    margin-left: auto;
  }
  section.navigation .navbar #responsive-menu ul.navbar-nav li {
    padding: 5px 22px;
  }
}
